@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Condensed&display=swap');

*{
    font-family: 'Ubuntu Condensed', sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


body{
    background-color: rgb(240,240,240);
    margin-bottom: 500px;
    margin-top: 200px;
}


.form-title{
    background-color: white;
    border-radius: 25px;
    max-width: 200px;
    margin: auto;
    font-size: 20px;
}

.form-container, .students-container{
    max-width: 600px;
    min-width: 600px;
    /* margin: 0 auto; */
    border-radius: 25px;
    background-color: rgb(250,250,250);
    padding: 25px 50px;
    box-shadow: 0 0 30px rgba(0,0,0, 0.2);
}

.inputs-container{
    margin-top: 50px;
    
}

.input-container{
    margin-bottom: 25px;
}

.input-container > label,
.input-container > input{
    display: block;
    width: 100%;
}

.input-container > label{
    margin-bottom: 10px;
    font-size: 20px;
}

.input-container > input{
    height: 2em;
}

.radios,
.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radios{
    margin-bottom: 25px;
}

.button-container{
    display: flex;
    justify-content: center
}

#submit{
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
}

body{
    display: flex;
    justify-content: center;
    gap: 100px;
}

#student-list{
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.student-list-item{
    background-color: rgb(37, 150, 190);
    color: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    width: 49%;
    margin-bottom: 25px;
}

.student-list-item .student-name,
.student-list-item .student-surname{
    font-size: 20px;
    margin-right: 5px;
}



.student-list-item .student-age{
    font-size: 30px;
}

.student-list-item .student-phone{
    font-size: 15px;
    display: block;
}

.student-list-item .student-email{
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.student-list-item .student-rating{
    font-size: 25px;
    display: block;
}

.student-list-item .student-list-item-languages{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.student-list-item .student-list-item-languages .student-languages{
    border: 1px solid black;
    padding: 2px;
}

#success-container{
    border: 1px solid black;
    background-color: greenyellow;
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    /* visibility: hidden; */
}